<div class="w-100 h-100 d-flex flex-row flex-nowrap">
  <div class="shadow-pannel" (click)="close()"></div>
  <div *ngIf="detail" class="bg-light w-100 p-3 d-flex flex-column border-left">
    <div class="flex-grow-1 overflow-auto">
      <div class="bg-white border border-bottom-0 position-sticky sticky-top">
        <div class="py-2 px-2 d-flex bg-white">
          <div *appBoard="itemId" class="flex-grow-1">
            <app-schedule-item-title [scheduleId]="scheduleId" [item]="detail" (update)="updateTitle($event)"
                                     (open)="open(itemId)" class="flex-grow-1"
                                     [disabled]="!(permissionSvc.isOwner | async)"></app-schedule-item-title>
          </div>
          <div *appModal="itemId" class="border-bottom flex-grow-1">
            <app-schedule-item-editor [scheduleId]="scheduleId" [item]="detail" (cancel)="modalSvc.close(itemId)"
                                      (update)="updateTitle($event);modalSvc.close(itemId)">
            </app-schedule-item-editor>
          </div>
        </div>
      </div>
      <div class="mb-2 border border-top-0">
        <app-schedule-item-subtasks [itemId]="detail.id" [subtasks]="detail.subtasks"
                                    [owner]="permissionSvc.isOwner | async" [itemOwner]="IsItemOwner | async">
        </app-schedule-item-subtasks>
      </div>
      <div class="my-2">
        <small>资料链接</small>
        <app-schedule-item-references [itemId]="detail.id" [references]="detail.references"
                                      [owner]="permissionSvc.isOwner | async" [itemOwner]="IsItemOwner | async">
        </app-schedule-item-references>
      </div>
      <div class="my-2">
        <small>学习体验反馈</small>
        <app-schedule-item-feedbacks [feedbacks]="detail.feedbacks" [owner]="permissionSvc.isOwner | async"
                                     [itemId]="detail.id">
        </app-schedule-item-feedbacks>
      </div>
    </div>
    <div class="bg-light border-top pt-2 d-flex">
      <span (click)="close()" class="point oi oi-expand-left"></span>
      <span *ngIf="IsItemOwner | async" class="oi oi-trash point ml-auto" (click)="deleteItem()"></span>
    </div>
  </div>
</div>
