<div class="nav sticky-top bg-white navbar-light">
  <nav class="navbar navbar-expand-sm container" [class.open]="navOpen">
    <a class="mr-3" href="/">
      <img src="/assets/logo.png" class="logo">
    </a>
    <button class="navbar-toggler border-0" href="javascript:void(0)" (click)="navOpen=!navOpen"
            (click)="nobuble($event)">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item d-flex" [class.active]="isLinkActive('/')">
          <a class="nav-link position-relative" [routerLink]="['/']"><span class="">首页</span><i></i></a>
        </li>
        <li class="nav-item d-flex" [routerLinkActive]='["active"]'>
          <a class="nav-link position-relative" [routerLink]="['/schedules']"><span class="">学习计划</span><i></i></a>
        </li>
        <li class="nav-item d-flex" [routerLinkActive]='["active"]'>
          <a class="nav-link position-relative" href="//edu.cnblogs.com"><span class="">班级</span><i></i></a>
        </li>
        <!-- <li class="nav-item d-flex" [routerLinkActive]="['active']">
          <a class="nav-link position-relative" [routerLink]="['/course-mall']"><span class="">课程超市</span><i></i></a>
        </li> -->
      </ul>

      <div *ngIf="!!!auth">验证中...</div>

      <div *ngIf="auth" class="my-2">
        <div *ngIf="auth.success" class="dropdown" [class.open]="authOpen">
          <div href="javascript:void(0)" class="point carrot mr-4 flex-sm-right" (click)="authOpen=!authOpen"
               (click)="nobuble($event)">
            <img src="/assets/head1.svg" class="portrait">
          </div>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-carrot">
            <a class="dropdown-item" [routerLink]="['/u',auth.value.alias]">
              <img src="{{auth.value.icon}}" class="icon">
              <span [innerHTML]="auth.value.name" class="max-wth"></span>
            </a>
            <a class="dropdown-item" [routerLink]="['/u',auth.value.alias]">
              <img src="assets/homepage.svg" class="icon">
              <span class="">我的主页</span>
            </a>
            <a class="dropdown-item" href="http://www.cnblogs.com">
              <img src="assets/wifi.svg" class="icon">
              <span>博客园</span>
            </a>
            <a class="dropdown-item" href="//msg.cnblogs.com" target="blank">
              <img src="assets/mail.svg" class="icon">
              <span>消息</span><small>({{auth.value.unreadCount}})</small>
            </a>
            <a class="dropdown-item" href="//home.cnblogs.com/set/account/">
              <img src="assets/setup.svg" class="icon">
              <span>设置</span>
            </a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="signout()">
              <img src="assets/signout.svg" class="icon">
              <span>退出</span>
            </a>
          </div>
        </div>

        <div *ngIf="!auth.success" class="space-around green">
          <a href="http://www.cnblogs.com">博客园</a>
          <a href="javascript:void(0);" (click)="signin()">未登录</a>
        </div>
      </div>
    </div>
  </nav>
</div>
