<div class="indicator">
  <div class="ml-auto d-flex h-100">
    <div class="bg-yellow h-100 d-flex flex-column justify-content-center">
      <span class="oi oi-pencil" (click)="onEdit()"></span>
    </div>
    <div class="bg-red h-100 d-flex flex-column justify-content-center">
      <span class="oi oi-delete" (click)="onDelete()"></span>
    </div>
    <div class="bg-green h-100 d-flex flex-column justify-content-center mr-auto" [class.checked]="completed">
      <span class="oi oi-check" (click)="onChecked()"></span>
    </div>
  </div>
</div>
