<div class="gray-666 pt-5">
  <div class="d-flex justify-content-center mt-3">
    <h4>版本更新日志</h4>
  </div>
  <br>
  <div class="">
    <div class="row">
      <div class="col-md-4 d-flex mr-3 right-border right-node">
        <time class="ml-md-auto align-self-center gray-999 small">2019年06月11日</time>
      </div>
      <div class="col-md-auto">
        <div>0.3.0</div>
        <p><del>改进学习计划，增加互动功能，</del>改进首页</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex mr-3 right-border right-node">
        <time class="ml-md-auto align-self-center gray-999 small">2019年01月29日</time>
      </div>
      <div class="col-md-auto">
        <div>0.2.0</div>
        <p>增加首页动态，个人主页，计划详情页，私有计划功能。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex mr-3 right-border right-node">
        <time class="ml-md-auto align-self-center gray-999 small">2018年11月30日</time>
      </div>
      <div class="col-md-auto">
        <div>0.1.0</div>
        <p class="mb-0">学院项目正式发布，仅提供个人学习计划管理功能。</p>
      </div>
    </div>
  </div>

</div>
