.hidden {
  display: none;
}

.md {
  border: solid 1px #E6E2E2;
  border-radius: 4px;
  padding: .5rem 1rem;
  letter-spacing: 1px;
}

ul {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  border-bottom: solid 1px #E6E2E2;
}

ul li label {
  color: inherit;
  text-decoration: none;
  padding: 0 10px 5px 10px;
  display: block;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
}

ul li.active label {
  border-bottom: 2px solid;
  font-weight: bold;
}

textarea {
  border-radius: 0;
  outline: none;
  width: 100%;
  min-height: 5rem;
  overflow-y: auto;
  border: none;
  letter-spacing: 1px;
  padding: 0;
}

.preview {
  min-height: 5rem;
  letter-spacing: 1px;
}

:host ::ng-deep p {
  margin-bottom: 0;
}

input {
  border: transparent;
  width: 100%;
  border-bottom: 1px solid #ced4da;
  outline: transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
