<div class="md">
  <ul>
    <li [class.active]="!inRender" (click)="write()">
      <label for="{{id}}" class="mb-0 small text-primary border-primary">编辑</label>
    </li>
    <li [class.active]="inRender" (click)="preview()">
      <label class="mb-0 small text-primary border-primary">预览</label>
    </li>
  </ul>

  <div *ngIf="!inRender">
    <textarea id="{{id}}" [(ngModel)]='rawContent' (ngModelChange)="onInput($event)" (keydown)="onKey($event)"
              appFocusOnShow class="gray-666 small mt-2"></textarea>
  </div>

  <div *ngIf="inRender">
    <div [innerHTML]="htmlContent" class="preview my-2 small bg-white" appExtenalLinks></div>
  </div>
</div>
