<!-- <div class="md">
  <ul>
    <li [class.active]="!inRender" (click)="write()">
      <a href="javascript:void(0);">
        <label for="{{id}}" class="mb-0">Write</label>
      </a>
    </li>
    <li [class.active]="inRender" (click)="preview()">
      <a href="javascript:void(0);">Preview</a>
    </li>
  </ul>

  <div [class.hidden]="inRender">
  </div>

  <div [class.hidden]="!inRender">
    <div [innerHTML]="htmlContent" class="preview mt-2" appExtenalLinks></div>
  </div>
</div> -->
<textarea id="{{id}}" [(ngModel)]='rawContent' (ngModelChange)="onInput($event)" (keydown)="onKey($event)" rows=1
          appFocusOnShow autosize></textarea>
